/* src/components/Signup.css */

/* Base styles for the Signup section */
.app {
    background-color:  #9632d8e0;   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup {
    background-color: #25ce0e;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #ebebebfd;
  }
  
  /* Styles for the form container */
  .form-container {
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }
  
  .form-container.extended {
    max-height: 400px;
    opacity: 1;
  }
  
  .form-container.basic {
    max-height: 100px;
    opacity: 1;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 2px;
  }
  
  /* Button styles */
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f3f3f3;
    color: #000000;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ff0800;
  }
  
  /* Additional styles for Login section */
  .login {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }
  
  .login.visible {
    max-height: 1000px;
    opacity: 1;
    border: 2px solid black;
    background-color: #00a4d6;
    color: #333;
  }
  